html, body {
  /*To stop the ability for horizontal scrolling*/
  overflow-x: hidden;
}

/*Variables for various colours used*/
:root {
    --dark: rgb(20, 20, 20);
    --gray: rgb(69, 69, 69);
    --grayish: rgb(139, 139, 139);
    --gray-white: rgb(185, 185, 185);

    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    
    --left-color: rgb(3, 7, 18);
    --right-color: rgb(163, 230, 53);
  }

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grayish); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray); 
  border-radius: 10px;
}

body {  
    background-color: var(--dark);
    margin: 0px;
  }
  
  /*For both sides of swapping text*/
  .side {
    display: grid;
    height: 105vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
  }
  
  .side .title {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
  }
  
  /*Giving the font for the permanent marker to the highlight word*/
  .side .highlight-word {
    font-family: "Permanent Marker", cursive;
    font-size: 1.8em;
    line-height: 0.6em;
  }

  /*Background colour for left (harder) side*/
  #left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
  }
  /*Text colour for left side*/
  #left-side .title {  
    color: white;  
  }
  /*Text colour and spacing for left highlight word (harder)*/
  #left-side .highlight-word {
    margin-left: 4%;
    color: var(--right-color);
  }
  
  /*Background colour for right (smarter) side*/
  #right-side {
    background-color: var(--right-color);
    z-index: 1;
  }
  /*Text colour for right side*/
  #right-side .title {
    color: var(--dark);
  }
  /*Text colour for right highlight word (smarter)*/
  #right-side .highlight-word {
    color: white;
  }

  /*Solid object to sit in place underneath the first main element*/
  .underneath {
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
  }

  /*Formatting for Ben Purchase context*/
  .context {
    background-color: var(--gray);
    margin: 0px;
  }

  .context-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    font-weight: 500;
    margin: 10vw 2vw;
    width: 80vw;
    position: absolute;
    z-index: 2;
  }

  /*Rotation for background blob*/
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  /*Styling the background blob*/
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--blue), var(--yellow));
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  /*Making the blur*/
  #blur {
    height: 200%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }
  
  /*Formatting for the BEN PURCHASE header*/
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: -0.14%;
    top: 102%;
    z-index: 3;
  }